---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=3000&currency=usd&card=tok_14Swm842i6ljKhjnmHjJ8bAf
    headers:
      Authorization:
      - Bearer sk_test_4NbXhWJla3kc0CpRwKJitpEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_14Swm842i6ljKhjnFkPzsHtb"
          }
        }
  recorded_at: Mon, 18 Aug 2014 20:30:45 GMT
recorded_with: VCR 2.9.2
